<div id="<%= dom_id room_facility_category %>">
  <% if action_name != "show" %>
    <%= link_to "Show this room facility category", room_facility_category, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this room facility category', edit_room_facility_category_path(room_facility_category), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
