<div class="mx-auto md:w-2/3 w-full">
<%= render  "shared/remote_model", title: "Client Sign up" do %>

  <%= render "form", client: @client %>

  <%= link_to 'Back ', root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
<%  end %>