<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @room_facility %>

    <%= link_to 'Edit this room_facility', edit_room_facility_path(@room_facility), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= link_to 'Destroy this room_facility', room_facility_path(@room_facility), data: {turbo_method: :delete, turbo_confirm: 'Are you sure want to delete?'},class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to login page', root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
